.fullwidth {
    text-align: center;

    &.dark {
        color: var(--text-light);
    }

    &__description {
        max-width: 70ch;
        margin-inline: auto;
        margin-block-end: 2.5rem;
    }
}