@use '../util' as u;

.hero {
    background-color: var(--hero-bg);
    color: var(--text-light);

    &__wrapper {
        padding-block: 30px 60px;

        @include u.breakpoint(large) {
            padding-block: 40px 80px;
        }
    }

    &__image {
        max-width: 30.1875rem;
        width: 62%;

        margin-block-end: 2.5rem;
    }

    &__text {}

    &__title {}

    &__content {}

    &__button {}

}